dj-database-url==0.3.0
Django==1.9.1
gunicorn==19.5.0
whitenoise==2.0.6
markdown==2.6.5

-e git://github.com/botify-labs/django-medusa.git@cc6b1e6#egg=django-medusa
celery==3.1.20
django-pipeline==1.6.4
boto==2.39.0
django-storages==1.1.8
s3cmd==1.6.1
google-compute-engine==2.8.3
