.big-title {
  font-family: 'Katahdin Round';
}

.bold-text {
  font-family: 'Titillium';
  font-weight: bold;
}

.botify-btn {
  padding: 15px 0;
  color: #fff;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  background: #a07cd5;
  border-bottom: 4px solid  #956fc7;
  border-radius: 5px;
  cursor: pointer;
}
