@import "./_reset.scss";
@import "./_fonts.scss";
@import "./_utils.scss";

body {
  font-family: 'Titillium';
  font-size: 14px;
  font-weight: normal;
  
  background: -webkit-linear-gradient(left, rgba(104, 81, 137, 0.9), rgba(104, 81, 137, 0.9)), url("../images/commun-pattern.png");
  background: -o-linear-gradient(left, rgba(104, 81, 137, 0.9), rgba(104, 81, 137, 0.9)), url("../images/commun-pattern.png");
  background: linear-gradient(to right, rgba(104, 81, 137, 0.9), rgba(104, 81, 137, 0.9)), url("../images/commun-pattern.png");
  background-size: 1000px;

  .container {
    width: calc(100% - 30px);

    @media(max-width: 767px) {
      padding: 0;
    }
  }

  .inner-wrapper {
    width: 90%;
    height: inherit;
    margin: auto;

    @media(max-width: 767px) {
      width: 100%;
    }
  }

  .header {
    margin-top: 65px;

    .botify-developer-logo {
      width: 241px;
      height: 50px;
      background: url('../images/botify-developers-logo.png') no-repeat;
    }

    .inner-wrapper {
      position: relative;
    }

    .main-content__header-right {
      position: absolute;
      right: 0;
      bottom: 8px;

      a:focus {
        color: #fff;
        outline: 0;
        text-decoration: none;
      }
    }
  }

  .top-menu {
    margin-top: 30px;

    .botify-developer-logo {
      width: 241px;
      height: 50px;
      background: url('../images/botify-developers-logo.png') no-repeat;
    }

    .navbar-custom {
      margin-bottom: 0;
      border: 0;
      background: transparent;

      .icon-bar {
        background-color: #fff;
      }

      .navbar-collapse {
        border: 0;
        box-shadow: none;
      }

      @media(min-width: 768px) {
        .container-fluid {
          padding: 0;

          .navbar-header {
            padding: 0 15px;
          }

          .navbar-collapse {
            padding: 65px 0 0;
          }
        }
      }

      .navbar-nav {
        > li {
          &.active {
            > a {
              color: #777;
            }
          }

          &:not(.active) > a {
            color: #fff;

            &:hover {
              color: #C6B5DD;
            }
          }
        }

        .open {
          > a {
            color: #333 !important;
          }

          .dropdown-menu {
            li:not(.active) {
              a {
                color: #fff;
                @media(min-width: 768px) {
                  color: #333;
                }

                &:hover {
                  color: #C6B5DD;
                }
              }
            }

            & > .active {
              & > a {
                background-color: #776295;

                @media(max-width: 767px) {
                  background: transparent;
                  color: #fff;
                  font-weight: bold;
                }
              }
            }
          }
        }
      }
    }
  }

  .main-content {
    display: flex;
    position: relative;
    margin-top: 40px;
    background-color: #fff;

    @media(max-width: 991px) {
      display: block;
    }

    .sidebar {
      max-width: 315px;
      padding: 80px 0 100px 60px;
      background: #f8f5f5;

      .sidebar__header {
        margin-bottom: 20px;
        a {
          color: #cebae9;
          font-family: "Katahdin Round";
          font-size: 20px;
        }
      }

      .sidebar__menu {
        padding-right: 20px;

        .sidebar__group {
          cursor: pointer;

          & + .sidebar__group {
            margin-top: 10px;
          }

          .sidebar__group-header {
            padding-bottom: 9px;
            margin-bottom: 10px;
            border-bottom: 1px solid #e4dbeb;

            a {
              font-weight: bold;
              color: #3e3a3a;
            }

            &.active {
              a {
                color: #685189 !important;
              }
            }
          }

          &.open {
            & + .sidebar__group {
              margin-top: 40px;
            }

            .sidebar__group-header {
              a {
                color: #cebae9;
              }
            }
            .sidebar__group-body {
              display: block;
            }
          }

          .sidebar__group-body {
            display: none;

            .sidebar__group-item {
              a {
                color: #978e8e;
                font-weight: bold;
              }

              & + .sidebar__group-item {
                margin-top: 20px;
              }

              &.active,
              &:hover {
                a {
                  color: #685189;
                }
              }
            }
          }
        }
      }
    }

    .right-content {
      position: static;
      padding-top: 80px;
      margin-left: 20px;

      @media(max-width: 991px) {
        padding-top: 10px;
        margin-left: 0px;
      }

      .right-content__breadcrumb {
        .breadcrumb {
          background-color: transparent;
          margin: 0;
          padding-top: 0;
          padding-left: 0;

          a {
            color: #c1b3b3;
          }
        }
      }

      .right-content__header {
        @media(max-width: 991px) {
          > .col-xs-12 {
            padding-top: 0 !important;
          }
        }

        .right-content__icon {
          width: 66px;
          height: 113px;
          background: url('../images/icons/getting-started-icon.png') no-repeat;
        }
      }

      .right-content__body {
        padding: 0 40px 100px 15px;

        .right-content__body-content {

          @media(max-width: 991px) {
            padding-left: 0;
          }

          h1, h2, h3, h4, h5 {
            color: #ce4a57;
            font-family: "Katahdin Round";
            text-transform: uppercase;
          }

          h1 {
            padding-top: 0 !important;
            padding-bottom: 25px;
            padding-left: 15px;
            margin-bottom: 20px;
            border-bottom: 1px solid #e8e1f1;
            color: #A88BD0;
            font-family: "Katahdin Round";
            font-size: 50px;
            text-transform: uppercase;
          }

          h2 {
            font-size: 16px;
          }

          h3 {
            font-size: 14px;
          }

          h4 {
            font-size: 13px;
          }

          h5 {
            font-size: 12px;
          }

          ul {
            list-style-type: square;
            list-style-position: inside;
          }

          p, ul {
            color: #463f3f;
            line-height: 25px;

            a {
              color: #e85d6b;
            }
          }

          .pagination {
            .active {
              a {
                background-color: #C6B5DD;
                border-color: #C6B5DD;
              }
            }

            a {
              color: #776295;
              outline: 0;
            }
          }

          p + h2,
          p + h3,
          p + h4,
          p + h5,
          p + table,
          pre + table,
          p + pre {
            margin-top: 15px;
          }

          p + p,
          pre + h2,
          pre + h3,
          pre + h4,
          pre + h5,
          pre + p,
          h3 + pre,
          table + p {
            margin-top: 10px;
          }

          h1, h2,h3,
          h4, h5,
          ul {
            padding: 10px 0;
          }


          table {
            border-collapse: collapse;

            th {
              font-weight: bold;
            }

            th,
            td {
              border: 1px solid #ddd;
              background-color: #fff;
            }

            & > thead > tr > th,
            & > tbody > tr > th,
            & > tfoot > tr > th,
            & > thead > tr > td,
            & > tbody > tr > td,
            & > tfoot > tr > td {
              padding: 8px;
              line-height: 1.42857143;
              vertical-align: top;
              border-top: 1px solid #ddd;
            }

            & > thead > tr > th {
              vertical-align: bottom;
              border-bottom: 2px solid #ddd;
            }

            & > tbody > tr:nth-child(odd) {
              background-color: #f9f9f9;

              td {
                background-color: #f9f9f9;
              }
            }
          }

          img {
            max-width: 100%;
          }
        }
      }

      .hljs-string,
      .hljs-attr {
        line-height: 20px;
      }

      #datamodel {
        .datamodel-table {
          margin-bottom: 0;

          td, th {
            word-break: break-all;
            min-width: 120px;
          }
        }

        @media(max-width: 767px) {
          .dataTables_length {
            padding: 10px 0;
          }
        }
      }
    }
  }

  .inscription-button {
    display: inline-block;
    margin: 5px 0;
    padding: 5px 10px;
    background-color: #ce4a57;
    color: white !important;
    font-weight: bold;
    border-radius: 5px;
  }
}
