@import "./_reset.scss";
@import "./_fonts.scss";
@import "./_utils.scss";

html {
  body {
    background: url("../images/robot.png") no-repeat center 0, url('../images/pattern.png') repeat-x;
    background-color: #685189;
    font-family: 'Titillium';
    font-size: 14px;
    font-weight: normal;

    .wrapper {
      width: 1300px;
      margin: auto;
    }

    .inner-wrapper {
      width: 85%;
      margin: auto;
    }

    .main-content {
      width: 100%;
      margin-top: 537px;
      background-image: url('../images/shape.png');
      background-repeat: no-repeat;
      background-position: center 0;

      .content {
        padding-top: 93px;

        .main-content__header {
          padding-bottom: 50px;
          background: #f0f9f9;

          .main-content__item {
            padding-left: 82px;

            @media(max-width: 991px) {
              margin-bottom: 20px;
            }

            .main-content__item-title {
              h2 {
                margin-left: -2px;
                margin-bottom: 15px;
                color: #685189;
                font-family: 'Katahdin Round';
                font-size: 16px;
                text-transform: uppercase;
              }
            }

            .main-content__item-description {
              color: #7b6f6f;
              line-height: 20px;
            }

            &.getting-started {
              background: url('../images/icons/flag-icon.png') no-repeat;
              background-position: 0 0;
            }

            &.api-reference {
              background: url('../images/icons/case-icon.png') no-repeat;
              background-position: 0 0;
            }

            &.our-sdk {
              background: url('../images/icons/heart-icon.png') no-repeat;
              background-position: 0 0;
            }
          }
        }
      }

      .main-content__body {
        .open-source {
          padding-top: 100px;
          padding-bottom: 135px;
          background-color: rgba(23, 26, 46, 0.9);
          background-image: url('../images/montagne.png');
          background-repeat: no-repeat;
          background-position: center 0;

          .open-source__buton {
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 10px 30px;
            margin-bottom: 80px;
            border: 4px solid rgba(23, 26, 46, 0.3);
            color: #ffcaca;
            font-size: 27px;
            text-align: center;
            text-transform: uppercase;

            .heart-icon {
              display: inline-block;
              height: 57px;
              width: 57px;
              margin: 0 10px;
              background: url('../images/icons/heart-full-icon.png') no-repeat;
            }

            @media(max-width: 767px) {
              flex-direction: column;

              .heart-icon {
                margin: 10px 0;
              }
            }

          }

          .open-source__menu {
            margin-bottom: 70px;

            .open-source__item {
              padding-top: 10px;
              background: url('../images/icons/tile-icon.png') no-repeat;
              background-position: right top;

              @media(max-width: 991px) {
                margin-bottom: 20px;
              }

              .open-source__item-title {
                h2 {
                  margin-bottom: 15px;
                  color: #a893c7;
                  font-family: "Katahdin Round";
                  font-size: 16px;
                  text-transform: uppercase;
                }
              }

              .open-source__item-description {
                color: #f5f5f5;
                font-weight: bold;
                line-height: 25px;
              }
            }
          }
        }

        .hiring {
          padding-top: 75px;
          padding-bottom: 50px;
          background: #fff;
          background-image: url('../images/robot2.png');
          background-repeat: no-repeat;

          @media(max-width: 991px) {
            padding-bottom: 400px;
            background-position: center bottom;
          }

          @media(max-width: 767px) {
            padding-bottom: 450px;
            background-position: center bottom;
          }

          @media (min-width: 992px) {
            background-position: 140% bottom;
          }

          @media (min-width: 1200px) {
            background-position: 105% bottom;
          }

          .hiring__title {
            margin-bottom: 10px;
            color: #a0d8d5;
            font-family: "Katahdin Round";
            font-size: 66px;
            text-align: center;
            text-transform: uppercase;
          }

          .hiring__description {
            margin-bottom: 40px;
            color: #7b6f6f;
            text-align: center;
            line-height: 25px;
          }
        }
      }
    }
  }

  /* ======= Footer ======= */
  .footer {
    background: #c6b5dd;
    background: #253340;
    color: #fff;
    padding-top: 40px;
    font-size: 14px;
    position: relative;
    z-index: 20;

    h2 {
      font-size: 30px;
      font-weight: 300;
      padding-bottom: 35px;
    }

    p {
      -webkit-opacity: 0.5;
      -moz-opacity: 0.5;
      opacity: 0.5;
    }

    .btn-cta,
    a.btn-cta {
      padding: 9px 10px;
    }

    .footer-col.links .fa {
      margin-right: 5px;
    }

    .footer-col.links li {
      margin-bottom: 10px;
    }

    .footer-col.connect .social {
      margin-bottom: 15px;
      overflow: hidden;
    }

    .footer-col.connect .social li {
      margin-right: 10px;
    }

    .footer-col.connect .social li a .fa {
      color: #b3b3b3;
      font-size: 22px;
    }

    .footer-col.connect .social li a:hover .fa {
      color: #47c9af;
    }

    .footer-col.connect .btn-cta-primary {
      background: #5d80a1;
      border-color: #5d80a1;
    }

    .footer-col.connect .btn-cta-primary:hover {
      background: #4a6781;
      border-color: #4a6781;
    }

    .footer-col .title {
      color: #fff;
      font-weight: normal;
      font-size: 18px;
      margin-top: 0;
      margin-bottom: 20px;
      -webkit-opacity: 0.9;
      -moz-opacity: 0.9;
      opacity: 0.9;
    }

    .footer-col p {
      color: #fff;
    }

    .footer-col a {
      color: #6d8dab;
    }

    .footer-col a:hover {
      color: #8da6bd;
    }

    .footer-col a.btn-cta-primary{
      color: #fff;
    }

    .footer-col .navbar-form {
      padding-left: 0;
      padding-right: 0;
    }

    .footer-col .navbar-form .form-control {
      -webkit-opacity: 0.9;
      -moz-opacity: 0.9;
      opacity: 0.9;
    }

    .footer-col .navbar-form .form-control:focus {
      -webkit-opacity: 1;
      -moz-opacity: 1;
      opacity: 1;
    }

    .has-divider {
      border-top: 1px solid #2b3b4a;
      padding-top: 30px;
      padding-bottom: 30px;
    }

    .download .download-list li {
      margin-bottom: 15px;
    }

    .download .download-list li .btn-ghost {
      text-align: left;
      -webkit-opacity: 0.6;
      -moz-opacity: 0.6;
      opacity: 0.6;
      width: 230px;
    }

    .download .download-list li .btn-ghost:hover {
      -webkit-opacity: 1;
      -moz-opacity: 1;
      opacity: 1;
    }

    .contact p {
      -webkit-opacity: 0.5;
      -moz-opacity: 0.5;
      opacity: 0.5;
    }

    .contact p a {
      -webkit-opacity: 1;
      -moz-opacity: 1;
      opacity: 1;
    }

    .contact .fa {
      margin-right: 10px;
      font-size: 20px;
    }

    .contact .email .fa {
      font-size: 16px;
    }

    .bottom-bar {
      background: #1e1e1e;
      color: #b3b3b3;
      font-size: 14px;
      padding: 10px 0;
    }

    .bottom-bar .copyright {
      line-height: 1.6;
    }
  }
}
