/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  -webkit-margin-before: 0em;
  -webkit-margin-after: 0em;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block; }

body {
  line-height: 1; }

ol,
ul {
  list-style: none; }

blockquote,
q {
  quotes: none; }

blockquote:before, blockquote:after {
  content: '';
  content: none; }

q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

@font-face {
  font-family: 'Katahdin Round';
  src: url("../fonts/katahdinRound/KatahdinRound.eot");
  /* IE9 Compat Modes */
  src: url("../fonts/katahdinRound/KatahdinRound.eot?#iefix") format("embedded-opentype"), url("../fonts/katahdinRound/KatahdinRound.woff") format("woff"), url("../fonts/katahdinRound/KatahdinRound.ttf") format("truetype"), url("../fonts/katahdinRound/KatahdinRound.svg#1fd5ec53d7b17e8d57370e3c086a46da") format("svg");
  /* Legacy iOS */
  font-style: normal;
  font-weight: 400; }

@font-face {
  font-family: 'Titillium';
  src: url("../fonts/titillium/titillium-regular.eot");
  src: url("../fonts/titillium/titillium-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/titillium/titillium-regular.woff2") format("woff2"), url("../fonts/titillium/titillium-regular.woff") format("woff"), url("../fonts/titillium/titillium-regular.ttf") format("truetype"), url("../fonts/titillium/titillium-regular.svg#titillium_webregular") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Titillium';
  src: url("../fonts/titillium/titillium-semibold.eot");
  src: url("../fonts/titillium/titillium-semibold.eot?#iefix") format("embedded-opentype"), url("../fonts/titillium/titillium-semibold.woff2") format("woff2"), url("../fonts/titillium/titillium-semibold.woff") format("woff"), url("../fonts/titillium/titillium-semibold.ttf") format("truetype"), url("../fonts/titillium/titillium-semibold.svg#titillium_websemibold") format("svg");
  font-weight: bold;
  font-style: normal; }

.big-title {
  font-family: 'Katahdin Round'; }

.bold-text {
  font-family: 'Titillium';
  font-weight: bold; }

.botify-btn {
  padding: 15px 0;
  color: #fff;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  background: #a07cd5;
  border-bottom: 4px solid  #956fc7;
  border-radius: 5px;
  cursor: pointer; }

.bold {
  font-weight: bold; }

.no-pad-r {
  padding-right: 0 !important; }

.no-pad {
  padding: 0 !important; }

/* ======= Footer ======= */
.footer {
  background: #c6b5dd;
  background: #253340;
  color: #fff;
  padding-top: 40px;
  font-size: 14px;
  position: relative;
  z-index: 20; }
  .footer h2 {
    font-size: 30px;
    font-weight: 300;
    padding-right: 15px;
    padding-bottom: 35px;
    padding-left: 15px; }
  .footer p {
    -webkit-opacity: 0.5;
    -moz-opacity: 0.5;
    opacity: 0.5; }
  .footer .btn-cta,
  .footer a.btn-cta {
    padding: 9px 10px; }
  .footer .footer-col.links .fa {
    margin-right: 5px; }
  .footer .footer-col.links li {
    margin-bottom: 10px; }
  .footer .footer-col.connect .social {
    margin-bottom: 15px;
    overflow: hidden; }
  .footer .footer-col.connect .social li {
    margin-right: 10px; }
  .footer .footer-col.connect .social li a .fa {
    color: #b3b3b3;
    font-size: 22px; }
  .footer .footer-col.connect .social li a:hover .fa {
    color: #47c9af; }
  .footer .footer-col.connect .btn-cta-primary {
    background: #5d80a1;
    border-color: #5d80a1; }
  .footer .footer-col.connect .btn-cta-primary:hover {
    background: #4a6781;
    border-color: #4a6781; }
  .footer .free-trial {
    margin-bottom: 20px; }
  .footer .footer-col .title {
    color: #fff;
    font-weight: normal;
    font-size: 18px;
    margin-top: 0;
    margin-bottom: 20px;
    -webkit-opacity: 0.9;
    -moz-opacity: 0.9;
    opacity: 0.9; }
  .footer .footer-col p {
    color: #fff; }
  .footer .footer-col a {
    color: #6d8dab; }
  .footer .footer-col a:hover {
    color: #8da6bd; }
  .footer .footer-col a.btn-cta-primary {
    color: #fff; }
  .footer .footer-col .navbar-form {
    padding-left: 0;
    padding-right: 0; }
  .footer .footer-col .navbar-form .form-control {
    -webkit-opacity: 0.9;
    -moz-opacity: 0.9;
    opacity: 0.9; }
  .footer .footer-col .navbar-form .form-control:focus {
    -webkit-opacity: 1;
    -moz-opacity: 1;
    opacity: 1; }
  .footer .has-divider {
    border-top: 1px solid #2b3b4a;
    padding-top: 30px;
    padding-bottom: 30px; }
  .footer .download .download-list li {
    margin-bottom: 15px; }
  .footer .download .download-list li .btn-ghost {
    text-align: left;
    -webkit-opacity: 0.6;
    -moz-opacity: 0.6;
    opacity: 0.6;
    width: 230px; }
  .footer .download .download-list li .btn-ghost:hover {
    -webkit-opacity: 1;
    -moz-opacity: 1;
    opacity: 1; }
  .footer .contact p {
    -webkit-opacity: 0.5;
    -moz-opacity: 0.5;
    opacity: 0.5; }
  .footer .contact p a {
    -webkit-opacity: 1;
    -moz-opacity: 1;
    opacity: 1; }
  .footer .contact .fa {
    margin-right: 10px;
    font-size: 20px; }
  .footer .contact .email .fa {
    font-size: 16px; }
  .footer .bottom-bar {
    background: #1e1e1e;
    color: #b3b3b3;
    font-size: 14px;
    padding: 10px 0; }
  .footer .bottom-bar .copyright {
    line-height: 1.6; }

body {
  font-family: 'Titillium';
  font-size: 14px;
  font-weight: normal;
  background: -webkit-linear-gradient(left, rgba(104, 81, 137, 0.9), rgba(104, 81, 137, 0.9)), url("../images/commun-pattern.png");
  background: linear-gradient(to right, rgba(104, 81, 137, 0.9), rgba(104, 81, 137, 0.9)), url("../images/commun-pattern.png"); }
  body .inner-wrapper {
    width: 90%;
    height: inherit;
    margin: auto; }
  body .header {
    margin-top: 65px; }
    body .header .botify-developer-logo {
      width: 241px;
      height: 50px;
      background: url("../images/botify-developers-logo.png") no-repeat; }
  body .top-menu .botify-developer-logo {
    width: 241px;
    height: 50px;
    background: url("../images/botify-developers-logo.png") no-repeat; }
  body .top-menu .navbar-custom {
    padding-bottom: 20px;
    border: 0;
    background: #776295; }
    body .top-menu .navbar-custom .icon-bar {
      background-color: #fff; }
    body .top-menu .navbar-custom .navbar-nav li.active a {
      color: #777; }
    body .top-menu .navbar-custom .navbar-nav li:not(.active) a {
      color: #fff; }
      body .top-menu .navbar-custom .navbar-nav li:not(.active) a:hover {
        color: #333; }
    body .top-menu .navbar-custom .navbar-nav .open .dropdown-menu li:not(.active) a {
      color: #fff; }
      body .top-menu .navbar-custom .navbar-nav .open .dropdown-menu li:not(.active) a:hover {
        color: #333; }
  body .main-content {
    margin-top: 40px;
    background-color: #fff; }
    body .main-content .sidebar {
      padding-top: 80px;
      padding-bottom: 30px;
      padding-left: 60px;
      background: #f8f5f5; }
      body .main-content .sidebar .sidebar__header {
        margin-bottom: 20px; }
        body .main-content .sidebar .sidebar__header a {
          color: #cebae9;
          font-family: "Katahdin Round";
          font-size: 20px; }
      body .main-content .sidebar .sidebar__menu {
        padding-right: 20px; }
        body .main-content .sidebar .sidebar__menu .sidebar__group {
          cursor: pointer; }
          body .main-content .sidebar .sidebar__menu .sidebar__group + .sidebar__group {
            margin-top: 10px; }
          body .main-content .sidebar .sidebar__menu .sidebar__group .sidebar__group-header {
            padding-bottom: 9px;
            margin-bottom: 10px;
            border-bottom: 1px solid #e4dbeb; }
            body .main-content .sidebar .sidebar__menu .sidebar__group .sidebar__group-header a {
              font-weight: bold;
              color: #3e3a3a; }
          body .main-content .sidebar .sidebar__menu .sidebar__group.open + .sidebar__group {
            margin-top: 40px; }
          body .main-content .sidebar .sidebar__menu .sidebar__group.open .sidebar__group-header a {
            color: #cebae9; }
          body .main-content .sidebar .sidebar__menu .sidebar__group.open .sidebar__group-body {
            display: block; }
          body .main-content .sidebar .sidebar__menu .sidebar__group .sidebar__group-body {
            display: none; }
            body .main-content .sidebar .sidebar__menu .sidebar__group .sidebar__group-body .sidebar__group-item a {
              color: #978e8e;
              font-weight: bold; }
            body .main-content .sidebar .sidebar__menu .sidebar__group .sidebar__group-body .sidebar__group-item + .sidebar__group-item {
              margin-top: 20px; }
            body .main-content .sidebar .sidebar__menu .sidebar__group .sidebar__group-body .sidebar__group-item.active a, body .main-content .sidebar .sidebar__menu .sidebar__group .sidebar__group-body .sidebar__group-item:hover a {
              color: #685189; }
    body .main-content .right-content {
      padding-top: 80px;
      margin-left: 20px; }
      @media (max-width: 991px) {
        body .main-content .right-content {
          padding-top: 10px;
          margin-left: 0px; } }
      body .main-content .right-content .right-content__breadcrumb .breadcrumb {
        background-color: transparent; }
        body .main-content .right-content .right-content__breadcrumb .breadcrumb a {
          color: #c1b3b3; }
      body .main-content .right-content .right-content__header {
        margin-bottom: 15px; }
        body .main-content .right-content .right-content__header .right-content__title {
          padding-bottom: 25px;
          padding-left: 15px;
          border-bottom: 1px solid #e8e1f1;
          color: #c6b5dd;
          font-family: "Katahdin Round";
          font-size: 50px;
          text-transform: uppercase; }
        body .main-content .right-content .right-content__header .right-content__icon {
          width: 66px;
          height: 113px;
          background: url("../images/icons/getting-started-icon.png") no-repeat; }
      body .main-content .right-content .right-content__body {
        padding-bottom: 40px; }
        body .main-content .right-content .right-content__body .right-content__body-content {
          padding-left: 15px; }
          body .main-content .right-content .right-content__body .right-content__body-content h1, body .main-content .right-content .right-content__body .right-content__body-content h2, body .main-content .right-content .right-content__body .right-content__body-content h3, body .main-content .right-content .right-content__body .right-content__body-content h4, body .main-content .right-content .right-content__body .right-content__body-content h5 {
            color: #ce4a57;
            font-family: "Katahdin Round";
            font-weight: bold;
            text-transform: uppercase; }
          body .main-content .right-content .right-content__body .right-content__body-content h1 {
            font-size: 18px; }
          body .main-content .right-content .right-content__body .right-content__body-content h2 {
            font-size: 16px; }
          body .main-content .right-content .right-content__body .right-content__body-content h3 {
            font-size: 14px; }
          body .main-content .right-content .right-content__body .right-content__body-content h4 {
            font-size: 13px; }
          body .main-content .right-content .right-content__body .right-content__body-content h5 {
            font-size: 12px; }
          body .main-content .right-content .right-content__body .right-content__body-content ul {
            list-style-type: square;
            list-style-position: inside; }
          body .main-content .right-content .right-content__body .right-content__body-content p, body .main-content .right-content .right-content__body .right-content__body-content ul {
            color: #463f3f;
            line-height: 25px; }
            body .main-content .right-content .right-content__body .right-content__body-content p a, body .main-content .right-content .right-content__body .right-content__body-content ul a {
              color: #e85d6b; }
          body .main-content .right-content .right-content__body .right-content__body-content p + h2,
          body .main-content .right-content .right-content__body .right-content__body-content p + h3,
          body .main-content .right-content .right-content__body .right-content__body-content p + h4,
          body .main-content .right-content .right-content__body .right-content__body-content p + h5,
          body .main-content .right-content .right-content__body .right-content__body-content p + table,
          body .main-content .right-content .right-content__body .right-content__body-content pre + table,
          body .main-content .right-content .right-content__body .right-content__body-content p + pre {
            margin-top: 15px; }
          body .main-content .right-content .right-content__body .right-content__body-content p + p,
          body .main-content .right-content .right-content__body .right-content__body-content pre + h3,
          body .main-content .right-content .right-content__body .right-content__body-content h3 + pre {
            margin-top: 10px; }
          body .main-content .right-content .right-content__body .right-content__body-content h1, body .main-content .right-content .right-content__body .right-content__body-content h2, body .main-content .right-content .right-content__body .right-content__body-content h3,
          body .main-content .right-content .right-content__body .right-content__body-content h4, body .main-content .right-content .right-content__body .right-content__body-content h5,
          body .main-content .right-content .right-content__body .right-content__body-content ul {
            padding: 10px 0; }
          body .main-content .right-content .right-content__body .right-content__body-content th {
            font-weight: bold; }
          body .main-content .right-content .right-content__body .right-content__body-content th, body .main-content .right-content .right-content__body .right-content__body-content td {
            padding: 5px 30px 5px 0; }
          body .main-content .right-content .right-content__body .right-content__body-content img {
            width: 100%; }
