/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
/* line 6, ../sass/_reset.scss */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  -webkit-margin-before: 0em;
  -webkit-margin-after: 0em;
  padding: 0;
  border: 0;
  vertical-align: baseline;
}

/* line 15, ../sass/_reset.scss */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

/* line 29, ../sass/_reset.scss */
body {
  line-height: 1;
}

/* line 33, ../sass/_reset.scss */
ol,
ul {
  list-style: none;
}

/* line 38, ../sass/_reset.scss */
blockquote,
q {
  quotes: none;
}

/* line 44, ../sass/_reset.scss */
blockquote:before, blockquote:after {
  content: '';
  content: none;
}

/* line 52, ../sass/_reset.scss */
q:before, q:after {
  content: '';
  content: none;
}

/* line 59, ../sass/_reset.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

@font-face {
  font-family: 'Katahdin Round';
  src: url("../fonts/katahdinRound/KatahdinRound.eot");
  /* IE9 Compat Modes */
  src: url("../fonts/katahdinRound/KatahdinRound.eot?#iefix") format("embedded-opentype"), url("../fonts/katahdinRound/KatahdinRound.woff") format("woff"), url("../fonts/katahdinRound/KatahdinRound.ttf") format("truetype"), url("../fonts/katahdinRound/KatahdinRound.svg#1fd5ec53d7b17e8d57370e3c086a46da") format("svg");
  /* Legacy iOS */
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: 'Titillium';
  src: url("../fonts/titillium/titillium-regular.eot");
  src: url("../fonts/titillium/titillium-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/titillium/titillium-regular.woff2") format("woff2"), url("../fonts/titillium/titillium-regular.woff") format("woff"), url("../fonts/titillium/titillium-regular.ttf") format("truetype"), url("../fonts/titillium/titillium-regular.svg#titillium_webregular") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Titillium';
  src: url("../fonts/titillium/titillium-semibold.eot");
  src: url("../fonts/titillium/titillium-semibold.eot?#iefix") format("embedded-opentype"), url("../fonts/titillium/titillium-semibold.woff2") format("woff2"), url("../fonts/titillium/titillium-semibold.woff") format("woff"), url("../fonts/titillium/titillium-semibold.ttf") format("truetype"), url("../fonts/titillium/titillium-semibold.svg#titillium_websemibold") format("svg");
  font-weight: bold;
  font-style: normal;
}
/* line 1, ../sass/_utils.scss */
.big-title {
  font-family: 'Katahdin Round';
}

/* line 5, ../sass/_utils.scss */
.bold-text {
  font-family: 'Titillium';
  font-weight: bold;
}

/* line 10, ../sass/_utils.scss */
.botify-btn {
  padding: 15px 0;
  color: #fff;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  background: #a07cd5;
  border-bottom: 4px solid  #956fc7;
  border-radius: 5px;
  cursor: pointer;
}

/* line 22, ../sass/_utils.scss */
.back-to-botify {
  padding: 5px 0;
  color: #fff;
  font-family: "Katahdin Round";
  font-size: 16px;
  text-align: center;
  text-transform: uppercase;
  border-bottom: 2px solid #fff;
  text-decoration: none;
  cursor: pointer;
}
/* line 33, ../sass/_utils.scss */
.back-to-botify:hover {
  text-decoration: none;
  color: #f9f9f9;
}
@media (max-width: 767px) {
  /* line 22, ../sass/_utils.scss */
  .back-to-botify {
    margin-right: 10px;
    font-size: 10px;
  }
}

/* line 44, ../sass/_utils.scss */
.new-api-doc-link {
  padding: 5px 0;
  color: #ff8585;
  font-family: "Katahdin Round";
  font-size: 18px;
  text-align: center;
  text-transform: uppercase;
  border-bottom: 2px solid #ff8585;
  text-decoration: none;
  cursor: pointer;
  margin-right: 10px;
}
/* line 56, ../sass/_utils.scss */
.new-api-doc-link:hover {
  text-decoration: none;
  color: #ff9696;
}

/* line 62, ../sass/_utils.scss */
.bold {
  font-weight: bold;
}

/* line 66, ../sass/_utils.scss */
.no-pad-r {
  padding-right: 0 !important;
}

/* line 70, ../sass/_utils.scss */
.no-pad {
  padding: 0 !important;
}

/* ======= Footer ======= */
/* line 75, ../sass/_utils.scss */
.footer {
  background: #c6b5dd;
  background: #253340;
  color: #fff;
  padding-top: 40px;
  font-size: 14px;
  position: relative;
  z-index: 20;
}
/* line 84, ../sass/_utils.scss */
.footer h2 {
  font-size: 30px;
  font-weight: 300;
  padding-right: 15px;
  padding-bottom: 35px;
  padding-left: 15px;
}
/* line 92, ../sass/_utils.scss */
.footer p {
  -webkit-opacity: 0.5;
  -moz-opacity: 0.5;
  opacity: 0.5;
}
/* line 98, ../sass/_utils.scss */
.footer .btn-cta,
.footer a.btn-cta {
  padding: 9px 10px;
}
/* line 105, ../sass/_utils.scss */
.footer .footer-col.links .fa {
  margin-right: 5px;
}
/* line 109, ../sass/_utils.scss */
.footer .footer-col.links li {
  margin-bottom: 10px;
}
/* line 112, ../sass/_utils.scss */
.footer .footer-col.connect .social {
  margin-bottom: 15px;
  overflow: hidden;
}
/* line 117, ../sass/_utils.scss */
.footer .footer-col.connect .social li {
  margin-right: 10px;
}
/* line 121, ../sass/_utils.scss */
.footer .footer-col.connect .social li a .fa {
  color: #b3b3b3;
  font-size: 22px;
}
/* line 126, ../sass/_utils.scss */
.footer .footer-col.connect .social li a:hover .fa {
  color: #47c9af;
}
/* line 130, ../sass/_utils.scss */
.footer .footer-col.connect .btn-cta-primary {
  background: #5d80a1;
  border-color: #5d80a1;
}
/* line 135, ../sass/_utils.scss */
.footer .footer-col.connect .btn-cta-primary:hover {
  background: #4a6781;
  border-color: #4a6781;
}
/* line 140, ../sass/_utils.scss */
.footer .footer-col.connect .btn-cta-secondary {
  background: #ffc040;
  border-color: transparent;
  color: #1e223f;
  transition: all .4s ease-in-out;
}
/* line 147, ../sass/_utils.scss */
.footer .footer-col.connect .btn-cta-secondary:hover {
  background: #ffd172;
  border-color: transparent;
  color: #1e223f;
}
/* line 154, ../sass/_utils.scss */
.footer .free-trial {
  margin-bottom: 20px;
}
/* line 158, ../sass/_utils.scss */
.footer .footer-col .title {
  color: #fff;
  font-weight: normal;
  font-size: 18px;
  margin-top: 0;
  margin-bottom: 20px;
  -webkit-opacity: 0.9;
  -moz-opacity: 0.9;
  opacity: 0.9;
}
/* line 169, ../sass/_utils.scss */
.footer .footer-col p {
  color: #fff;
}
/* line 173, ../sass/_utils.scss */
.footer .footer-col a {
  color: #6d8dab;
}
/* line 177, ../sass/_utils.scss */
.footer .footer-col a:hover {
  color: #8da6bd;
}
/* line 181, ../sass/_utils.scss */
.footer .footer-col a.btn-cta-primary {
  color: #fff;
}
/* line 185, ../sass/_utils.scss */
.footer .footer-col .navbar-form {
  padding-left: 0;
  padding-right: 0;
}
/* line 190, ../sass/_utils.scss */
.footer .footer-col .navbar-form .form-control {
  -webkit-opacity: 0.9;
  -moz-opacity: 0.9;
  opacity: 0.9;
}
/* line 196, ../sass/_utils.scss */
.footer .footer-col .navbar-form .form-control:focus {
  -webkit-opacity: 1;
  -moz-opacity: 1;
  opacity: 1;
}
/* line 202, ../sass/_utils.scss */
.footer .has-divider {
  border-top: 1px solid #2b3b4a;
  padding-top: 30px;
  padding-bottom: 30px;
}
/* line 208, ../sass/_utils.scss */
.footer .download .download-list li {
  margin-bottom: 15px;
}
/* line 212, ../sass/_utils.scss */
.footer .download .download-list li .btn-ghost {
  text-align: left;
  -webkit-opacity: 0.6;
  -moz-opacity: 0.6;
  opacity: 0.6;
  width: 230px;
}
/* line 220, ../sass/_utils.scss */
.footer .download .download-list li .btn-ghost:hover {
  -webkit-opacity: 1;
  -moz-opacity: 1;
  opacity: 1;
}
/* line 226, ../sass/_utils.scss */
.footer .contact p {
  -webkit-opacity: 0.5;
  -moz-opacity: 0.5;
  opacity: 0.5;
}
/* line 232, ../sass/_utils.scss */
.footer .contact p a {
  -webkit-opacity: 1;
  -moz-opacity: 1;
  opacity: 1;
}
/* line 238, ../sass/_utils.scss */
.footer .contact .fa {
  margin-right: 10px;
  font-size: 20px;
}
/* line 243, ../sass/_utils.scss */
.footer .contact .email .fa {
  font-size: 16px;
}
/* line 247, ../sass/_utils.scss */
.footer .bottom-bar {
  background: #1e1e1e;
  color: #b3b3b3;
  font-size: 14px;
  padding: 10px 0;
}
/* line 254, ../sass/_utils.scss */
.footer .bottom-bar .copyright {
  line-height: 1.6;
}

/* line 6, ../sass/main.scss */
html body {
  background: url("../images/robot.png") no-repeat center 0, url("../images/pattern.png") repeat-x;
  background-color: #685189;
  font-family: 'Titillium';
  font-size: 14px;
  font-weight: normal;
}
@media (max-width: 767px) {
  /* line 6, ../sass/main.scss */
  html body {
    background-size: 450px;
  }
}
@media (max-width: 767px) {
  /* line 17, ../sass/main.scss */
  html body .container {
    padding: 0;
    padding-top: 10px;
  }
}
/* line 24, ../sass/main.scss */
html body .inner-wrapper {
  width: 85%;
  margin: auto;
}
@media (max-width: 991px) {
  /* line 24, ../sass/main.scss */
  html body .inner-wrapper {
    width: 95%;
  }
}
/* line 33, ../sass/main.scss */
html body .main-content {
  width: 100%;
}
/* line 36, ../sass/main.scss */
html body .main-content .content {
  padding-top: 93px;
}
@media (max-width: 767px) {
  /* line 36, ../sass/main.scss */
  html body .main-content .content {
    padding-top: 10px;
  }
}
/* line 44, ../sass/main.scss */
html body .main-content .main-content__header {
  position: relative;
}
/* line 48, ../sass/main.scss */
html body .main-content .main-content__header .inner-wrapper .main-content__header-left {
  display: flex;
  flex-direction: column;
}
/* line 52, ../sass/main.scss */
html body .main-content .main-content__header .inner-wrapper .main-content__header-left .botify-logo {
  width: 132px;
  height: 48px;
  margin-bottom: 10px;
  background: url("../images/botify-logo.png") no-repeat;
  background-size: contain;
}
/* line 60, ../sass/main.scss */
html body .main-content .main-content__header .inner-wrapper .main-content__header-left .developers-logo {
  width: 393px;
  background: url("../images/developers-logo.gif") no-repeat;
  background-size: contain;
}
/* line 66, ../sass/main.scss */
html body .main-content .main-content__header .inner-wrapper .main-content__header-left .botify-developers-logo {
  width: 157px;
  height: 113px;
  background: url("../images/botify-developers-logo.png") no-repeat;
  background-size: contain;
}
/* line 74, ../sass/main.scss */
html body .main-content .main-content__header .inner-wrapper .main-content__header-right {
  position: absolute;
  top: 0;
  right: 0;
}
/* line 82, ../sass/main.scss */
html body .main-content .main-content__body {
  margin-top: 320px;
  padding-top: 97px;
  background-image: url("../images/shape.png");
  background-repeat: no-repeat;
  background-position: center 0;
}
@media (max-width: 767px) {
  /* line 82, ../sass/main.scss */
  html body .main-content .main-content__body {
    margin-top: 43px;
  }
}
/* line 93, ../sass/main.scss */
html body .main-content .main-content__body .main-info {
  padding: 10px 0 70px;
  background: #fff;
}
/* line 97, ../sass/main.scss */
html body .main-content .main-content__body .main-info .main-info__header {
  margin-bottom: 40px;
}
/* line 100, ../sass/main.scss */
html body .main-content .main-content__body .main-info .main-info__header a {
  text-decoration: none;
}
/* line 103, ../sass/main.scss */
html body .main-content .main-content__body .main-info .main-info__header a h1 {
  color: #a0d8d5;
  font-family: "Katahdin Round";
  font-size: 54px;
  text-align: center;
  text-transform: uppercase;
}
/* line 113, ../sass/main.scss */
html body .main-content .main-content__body .main-info .main-info__item {
  padding-left: 82px;
}
@media (max-width: 991px) {
  /* line 113, ../sass/main.scss */
  html body .main-content .main-content__body .main-info .main-info__item {
    margin-bottom: 20px;
  }
}
/* line 120, ../sass/main.scss */
html body .main-content .main-content__body .main-info .main-info__item .main-info__item-title {
  cursor: pointer;
}
/* line 123, ../sass/main.scss */
html body .main-content .main-content__body .main-info .main-info__item .main-info__item-title h2 {
  margin-left: -2px;
  margin-bottom: 15px;
}
/* line 126, ../sass/main.scss */
html body .main-content .main-content__body .main-info .main-info__item .main-info__item-title h2 a {
  color: #685189;
  font-family: 'Katahdin Round';
  font-size: 16px;
  text-transform: uppercase;
}
/* line 135, ../sass/main.scss */
html body .main-content .main-content__body .main-info .main-info__item .main-info__item-description {
  color: #7b6f6f;
  line-height: 20px;
}
/* line 140, ../sass/main.scss */
html body .main-content .main-content__body .main-info .main-info__item.getting-started {
  background: url("../images/icons/flag-icon.png") no-repeat;
  background-position: 0 0;
}
/* line 145, ../sass/main.scss */
html body .main-content .main-content__body .main-info .main-info__item.api-reference {
  background: url("../images/icons/case-icon.png") no-repeat;
  background-position: 0 0;
}
/* line 150, ../sass/main.scss */
html body .main-content .main-content__body .main-info .main-info__item.our-sdk {
  background: url("../images/icons/heart-icon.png") no-repeat;
  background-position: 0 0;
}
/* line 157, ../sass/main.scss */
html body .main-content .main-content__body .open-source {
  padding-top: 84px;
  padding-bottom: 135px;
  background-color: rgba(23, 26, 46, 0.9);
  background-image: url("../images/montagne.png");
  background-repeat: no-repeat;
  background-position: center -16px;
  border-top: 16px solid rgba(104, 81, 137, 0.3);
}
/* line 166, ../sass/main.scss */
html body .main-content .main-content__body .open-source .open-source__buton {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 30px;
  margin-bottom: 80px;
  border: 4px solid rgba(255, 202, 202, 0.2);
  color: #ffcaca;
  font-size: 27px;
  text-align: center;
  text-transform: uppercase;
}
/* line 178, ../sass/main.scss */
html body .main-content .main-content__body .open-source .open-source__buton .heart-icon {
  display: inline-block;
  height: 57px;
  width: 57px;
  margin: 0 10px;
  background: url("../images/icons/heart-full-icon.png") no-repeat;
}
@media (max-width: 767px) {
  /* line 166, ../sass/main.scss */
  html body .main-content .main-content__body .open-source .open-source__buton {
    flex-direction: column;
  }
  /* line 189, ../sass/main.scss */
  html body .main-content .main-content__body .open-source .open-source__buton .heart-icon {
    margin: 10px 0;
  }
}
/* line 196, ../sass/main.scss */
html body .main-content .main-content__body .open-source .open-source__menu {
  margin-bottom: 70px;
}
/* line 199, ../sass/main.scss */
html body .main-content .main-content__body .open-source .open-source__menu .open-source__item {
  padding-top: 10px;
  background: url("../images/icons/tile-icon.png") no-repeat;
  background-position: right top;
}
@media (max-width: 991px) {
  /* line 199, ../sass/main.scss */
  html body .main-content .main-content__body .open-source .open-source__menu .open-source__item {
    margin-bottom: 20px;
  }
}
/* line 209, ../sass/main.scss */
html body .main-content .main-content__body .open-source .open-source__menu .open-source__item .open-source__item-title h2 {
  margin-bottom: 15px;
}
/* line 211, ../sass/main.scss */
html body .main-content .main-content__body .open-source .open-source__menu .open-source__item .open-source__item-title h2 a {
  color: #a893c7;
  font-family: "Katahdin Round";
  font-size: 16px;
  text-transform: uppercase;
}
/* line 220, ../sass/main.scss */
html body .main-content .main-content__body .open-source .open-source__menu .open-source__item .open-source__item-description {
  color: #f5f5f5;
  font-weight: bold;
  line-height: 25px;
}
/* line 229, ../sass/main.scss */
html body .main-content .main-content__body .open-source .open-source-documentation__buton a {
  text-decoration: none;
}
/* line 233, ../sass/main.scss */
html body .main-content .main-content__body .open-source .open-source-documentation__buton a .botify-btn img {
  height: 32px;
  margin-right: 8px;
  vertical-align: middle;
}
/* line 239, ../sass/main.scss */
html body .main-content .main-content__body .open-source .open-source-documentation__buton a .botify-btn span {
  vertical-align: middle;
  font-size: 20px;
}
/* line 248, ../sass/main.scss */
html body .main-content .main-content__body .hiring {
  padding-top: 75px;
  padding-bottom: 50px;
  background: #fff;
  background-image: url("../images/robot2.png");
  background-repeat: no-repeat;
}
@media (max-width: 991px) {
  /* line 248, ../sass/main.scss */
  html body .main-content .main-content__body .hiring {
    padding-bottom: 325px;
    background-size: 80%;
    background-position: center bottom;
  }
}
@media (max-width: 767px) {
  /* line 248, ../sass/main.scss */
  html body .main-content .main-content__body .hiring {
    padding-bottom: 185px;
    background-size: 300px;
    background-position: center bottom;
  }
}
@media (min-width: 992px) {
  /* line 248, ../sass/main.scss */
  html body .main-content .main-content__body .hiring {
    background-position: 140% bottom;
  }
}
@media (min-width: 1200px) {
  /* line 248, ../sass/main.scss */
  html body .main-content .main-content__body .hiring {
    background-position: 105% bottom;
  }
}
/* line 275, ../sass/main.scss */
html body .main-content .main-content__body .hiring .hiring__title {
  margin-bottom: 10px;
  color: #a0d8d5;
  font-family: "Katahdin Round";
  font-size: 66px;
  text-align: center;
  text-transform: uppercase;
}
/* line 284, ../sass/main.scss */
html body .main-content .main-content__body .hiring .hiring__description {
  margin-bottom: 40px;
  color: #7b6f6f;
  text-align: center;
  line-height: 25px;
}
